<%= form_for(@investment) do |f| %>
  <% if @investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
      <% @investment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :asset_id %><br />
  <%= f.autocomplete_field :asset_id, autocomplete_asset_name_assets_path, value: @investment.asset.name %></div>

  <div><%= f.label :type %><br />
  <%= f.select :type, Investment.subclasses.map{|subclass| [subclass.clean_name, subclass.to_s]} %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
