<%= form_for([:dashboard, @transaction]) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :investment_id %><br>
    <%= f.collection_select :investment_id, current_user.investments, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type, Transaction.all_types, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :shares_quantity %><br>
    <%= f.text_field :shares_quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_value %><br>
    <%= f.text_field :unit_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
