<p>
  <strong>Investment:</strong>
  <%= @transaction.investment.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= format_date(@transaction.date) %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @transaction.total_value %>
</p>

<%= link_to 'Back', dashboard_transactions_path %>
