<%= form_for :home, :url => { :action => :show_asset } do |f| %>

  <div><%= f.label :asset %><br />
  <%= f.autocomplete_field :name, autocomplete_asset_name_dashboard_assets_path %></div>

  <div class="actions">
    <%= f.submit 'Search' %>
  </div>
<% end %>

<%= render partial: 'graphic' %>