<div class="center">
  <strong>Ou acesse pela sua conta PolarInvest</strong>
</div>
<div class="divide-20"></div>

<% if flash.present? %>
  <div class="alert alert-danger">
    <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form') do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <i class="fa fa-envelope"></i>
    <%= f.email_field :email, autofocus: true, class: 'form-control'%>
  </div>

  <div class='form-group'>
    <%= f.label :password, 'Senha' %>
    <i class="fa fa-lock"></i>
    <%= f.password_field :password, class: 'form-control'%>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-danger">Entrar</button>
  </div>

<% end %>

<div class="login-helpers">
  <a href="#" >Esqueceu sua senha?</a> <br>
  Ainda não possui conta?
  <%= link_to "Cadastre-se agora!", new_registration_path(resource_name) %>
</div>