<!DOCTYPE html>
<html>
<head>
  <title>Polarinvest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <div>
      <%= link_to "Polarinvest", root_path %>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Assets", assets_path %></li>
          <li><%= link_to "Investments", investments_path %></li>
          <li><%= link_to "Profile", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Login <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "PolarInvest",  new_user_session_path %></li>
              <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
              <li><%= link_to "Google", user_omniauth_authorize_path(:google_oauth2) %></li>
              <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
