<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>PolarInvest | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->

    <%= stylesheet_link_tag "cloud-admin", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "default", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "responsive", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "font-awesome", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "daterangepicker-bs3", media: "all", "data-turbolinks-track" => true %>
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <!-- JAVASCRIPTS -->
    <!-- JS -->
    <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery-ui-1.10.3.custom.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "moment.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "daterangepicker.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.slimscroll.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "slimScrollHorizontal.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.cookie.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "dashboard_script", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery_ujs", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

  </head>
  <body>
    <!-- HEADER -->
    <header class="navbar clearfix navbar-fixed-top" id="header">
      <div class="container">
          <div class="navbar-brand">
            <!-- COMPANY LOGO -->
            <a href="index.html">
              <%= image_tag("img/logo/logo.png", alt: "Cloud Admin Logo", class: "img-responsive", height: 30, width: 120) %>
            </a>
            <!-- /COMPANY LOGO -->
            <!-- TEAM STATUS FOR MOBILE -->
            <div class="visible-xs">
              <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                <i class="fa fa-users"></i>
              </a>
            </div>
            <!-- /TEAM STATUS FOR MOBILE -->
            <!-- SIDEBAR COLLAPSE -->
            <div id="sidebar-collapse" class="sidebar-collapse btn">
              <i class="fa fa-bars"
                data-icon1="fa fa-bars"
                data-icon2="fa fa-bars" ></i>
            </div>
            <!-- /SIDEBAR COLLAPSE -->
          </div>
          <!-- BEGIN TOP NAVIGATION MENU -->
          <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user" id="header-user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag("img/avatars/default.jpg") %>
                <span class="username"><%= current_user.name %></span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "<i class='fa fa-power-off'></i>Logout".html_safe, destroy_user_session_path, method: 'delete' %>
                </li>
              </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
          </ul>
          <!-- END TOP NAVIGATION MENU -->
      </div>
    </header>
    <!--/HEADER -->

    <!-- PAGE -->
    <section id="page">
      <!-- SIDEBAR -->
      <div id="sidebar" class="sidebar">
        <div class="sidebar-menu nav-collapse">

          <!-- SIDEBAR MENU -->
          <ul>
            <li>
              <%= link_to '<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Dashboard</span>
              <span class="selected"></span>'.html_safe, dashboard_path %>
            </li>
            <li>
              <%= link_to '<i class="fa fa-bar-chart-o fa-fw"></i> <span class="menu-text">Investimentos</span>
              <span class="selected"></span>'.html_safe, dashboard_investments_path %>
            </li>
            <li>
              <%= link_to '<i class="fa fa-exchange fa-fw"></i> <span class="menu-text">Transações</span>
              <span class="selected"></span>'.html_safe, dashboard_transactions_path %>
            </li>
          </ul>
          <!-- /SIDEBAR MENU -->
        </div>
      </div>
      <!-- /SIDEBAR -->
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div id="content" class="col-lg-12">
              <!-- PAGE HEADER-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-header">
                    <!-- BREADCRUMBS -->
                    <ul class="breadcrumb">
                      <li>
                        <i class="fa fa-home"></i>
                        <%= link_to 'Dashboard', dashboard_path %>
                      </li>
                    </ul>
                    <!-- /BREADCRUMBS -->
                    <div class="clearfix">
                      <h3 class="content-title pull-left"><%= @page_title %></h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /PAGE HEADER -->

              <!-- DASHBOARD CONTENT -->
              <div class="row">
                <%= yield %>
              </div>

            </div><!-- /CONTENT-->
          </div>
        </div>
      </div>
    </section>
    <!--/PAGE -->
    <script>
      jQuery(document).ready(function() {
        App.setPage("widgets_box");  //Set current page
        App.init(); //Initialise plugins and elements
      });
    </script>
  </body>
</html>
